*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hbody{
    display: inline;
}
.btn1{
  width: 5;
height: 50px;
text-align: center !important;
justify-content: center;
display: inline;
margin-left: 100%;
margin-right: -50%;
}

.caprasimo-regular {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.simg{
    width: 600px;
}
.timg{
}

#body1{
    background-color: rgb(244, 227, 203);
}